.material-icons {
    font-size: 35px;
}

mat-icon {
    width: 35px;
    height: 300px;
}

.mat-icon-button i, .mat-icon-button .mat-icon {
    line-height: 35px;
    padding-bottom:2px;
}

div {
    margin-left: 10px;
    display:flex;
    align-items: center;
    cursor: pointer;
}

